<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="background-image: url('/images/background.jpg');background-size: cover;">
	<div class="container">
		<div class="jumbotron" style="background-image: url('/images/background_0.jpg');background-size: cover;">
			<div class="myheader"><center><h2 style="color:white;">Dhom Irrigation Division Satara</h2></center></div>
		</div>
		<div class="row">
			<div class="col-sm-12" align="center">
			<table class="table table-bordered" style="width:fit-content; background:white;">
				<tr>
					<td>Division</td>
					<td>
						<select>
							<option value="">--Select--</option>
							<option value="1">Dhom Irrigation Division Satara</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Sub-Division</td>
					<td>
						<select>
							<option value="">--Select--</option>
							<option value="1">Irrigation Sub-Division, Masur</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Branch</td>
					<td>
						<select>
							<option value="">--Select--</option>
							<option value="1">Araphal Irrigation Masur Branch 3</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Season</td>
					<td>
						<select>
							<option value="">--Select--</option>
							<option value="kharif">Rabi</option>
							<option value="kharif">Kharif</option>
							<option value="kharif">Half Yearly</option>
							<option value="kharif">Yearly</option>
							<option value="other">Other</option>
						</select>
						<input type="text" class="hide" id="other_season" name="other_season" />
					</td>
				</tr>
				<tr>
					<td>Year</td>
					<td>
						<select>
							<option value="0">--Select--</option>
							<option value="2014">2014 - 2015</option>
							<option value="2015">2015 - 2016</option>
							<option value="2016">2016 - 2017</option>
							<option value="2017">2017 - 2018</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Name of Village</td>
					<td><input type="text" id="nameOfVillageYear" /></td>
				</tr>
				<tr>
					<td>Source</td>
					<td>
						<select>
							<option value="0">--Select--</option>
							<option value="canal">Canal</option>
							<option value="well">Well</option>
							<option value="river">River</option>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="submit" value=" New Application " id="newapp" onclick="location.href='/page3';"/>
						<input type="button" value=" Search Application " id="search" />
					</td>
				</tr>
			</table>
			</div>			
		</div>
	</div>
</body>
</html>